body{
    min-width: 100%;
background-color: grey;
    background-image: url("pexels-photo-414659.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
.box{
    display: block;
}

.box1{
    height: 20vh;
    background-color:white;
    opacity: 0.6;
    filter: alpha(opacity=70);
    /*background-color: coral;*/

}
.box2{
  background-color:white;
    height: 70vh;
    opacity: 0.6;
    filter: alpha(opacity=50);
}
.box3{
    background-color: white;
    opacity: 0.6;
    filter: alpha(opacity=50);
}
.box3{
    height: 10vh;
}
.lw{

    font-size: 32px;
    color:black;
    text-align: center;
    margin: 0 auto;

}

.l{
    color: black;
}

@media (min-width: 700px) {
    .box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .box{
        width: 700px;
        margin: 0 auto;
    }
    .box1{
        height: 20vh;
        width: 100%;
    }
    .box2{
        height: 70vh;
        width: 100%;
    }
    .box3{
        height: 10vh;
        width: 100%;
    }



}

@media (min-width: 1000px) {
    .box{
        width: 700px;
        margin: 0 auto;
    }

}

#tbc{
    background-color: white;
    color: black;
    margin: 25px auto;
    opacity: 2.2;
    filter: alpha(opacity=75);
}

table, th, td {
    border: 1px solid black;
}

th{
    width: 206px;
    height: 18px;
}

.tada{
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Agency FB";
}

#date{
    color: black;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
.dev{
    color:#000000;
    margin: 0;
    text-align: center;

}
#place{
    opacity: 1.2;
    filter: alpha(opacity=75);
}